/* body{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 100px;
  margin-left: 100px;
  background: black;
  text-align: center;
  font-family: Helvetica;
} */


body {
  font-family: Arial;
  padding: 20px;
  background: black;
  color: white
  /* font-color: white */
}


.column {
  float:left;
  /* text-align: leftcolumn */
  color: white;
  width: 30%;
  padding: 35px
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 900px) {
  .column {
    width: 100%;
    padding: 0;
  }
}
