body {
  font-family: 'IBM Plex Sans', sans-serif;
  background: black;
  color: white;
  padding: 40px;
}


.column {
  margin-right: auto;
  margin-left: auto;
  width: 55%;
  justify-content: center;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

.carousel_body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #000;
}

#wrapper {
  width: 100%;
  max-width: 964px;
  position: relative;
}

#carousel {
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

#carousel::-webkit-scrollbar {
  height: 0;
}

#prev,
#next {
  display: flex;
  justify-content: center;
  align-content: center;
  background: white;
  border: none;
  padding: 8px;
  border-radius: 50%;
  outline: 0;
  cursor: pointer;
  position: absolute;
}

#prev {
  top: 50%;
  left: 0;
  transform: translate(50%, -50%);
  display: none;
}

#next {
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

#content {
  display: grid;
  grid-gap: 16px;
  grid-auto-flow: column;
  margin: auto;
  box-sizing: border-box;
}

.item {
  width: 180px;
  height: 180px;
  background: black;
}
/* .item:hover{
  transition: 1s ;
  opacity: 80%;
} */

/* .item p {
  margin-left: auto;
  margin-right: auto;
	position:absolute;
	bottom:0;
	left:0;
	background:rgb(55, 55, 55);
	color:#fff;
	width:inherit;
	margin:0;
  font-size: 15px;
} */


@media screen and (max-width:920px) {
  body {
    font-family: 'IBM Plex Sans', sans-serif;
    padding: 30px;
    background: black;
    color: white;
  }
  .column {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    float:left;

  }
  /* .l {
    color: white;
    width: 40%;
  }
  .r {
    color: white;
    width: 60%;
  } */

}
