/* body{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 100px;
  margin-left: 100px;
  background: black;
  text-align: center;
  font-family: Helvetica;
} */


body {
  font-family: Helvetica;
  padding: 20px;
  background: black;
  font-color: white
}

.myname {
  padding: 30px;
  font-size: 40px;
  text-align: leftcolumn
  color: white
}

.leftcolumn {
  float: left;
  width: 25%;
  color: white
}

.rightcolumn {
  float: left;
  width: 75%;
  padding-left: 20px;
  color: white
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
